<div class="mj_lightgraytbg mj_resumepreview mj_toppadder80 mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                <div class="mj_resume_heading">
                    <img src="images/candidate_img.jpg" class="img-responsive" alt="">
                    <h1>D<span>avid</span> S<span>impson</span></h1>
                    <ul>
                        <li>
                            <label><i class="fa fa-map-marker"></i>
                            </label>San Francisco</li>
                        <li>
                            <label>Classification:</label><a href="#">web Designer</a>
                        </li>
                        <li>
                            <label>Hourly Rate: </label><span class="mj_green_text">$40.00/hr</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder80 ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="mj_resume_changeing mj_yellowbg">
                            <a href="#"><i class="fa fa-angle-left"></i>Edit Resume</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="mj_resume_changeing mj_bluebg">
                            <a href="choose_package.html">Choose a Package<i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_postdiv mj_jobdetail mj_toppadder50 mj_bottompadder50">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>Overview</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>skills</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <ul class="mj_selected_content">
                                        <li>
                                            <a href="#"><img src="images/cross_white.png" alt=""> Design</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/cross_white.png" alt=""> Web Designer</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/cross_white.png" alt=""> User Experience</a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/cross_white.png" alt=""> developer</a>
                                        </li>
                                    </ul>
                                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. </p>
                                    <ul>
                                        <li>Time honoured communication, leadership and academic traits strengthened through Product Assistant position and work presentations</li>
                                        <li>Used Visual Studio on unix systems to implement real time BlackBerry algorithms</li>
                                        <li>Thorough presentation, problem solving and leadership skills improved through Product Assistant position and project work</li>
                                        <li>Participated in a team that used CSS, mobile platforms and Oracle Server to improve Web Service technologies for heuristic Windows systems</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>Education</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv">
                                    <span>University of Waterland Waterland, ON</span>
                                    <blockquote class="mj_blueblockquote">
                                        <span><i class="fa fa-calendar"></i> Dec 2010 - Sep 2011</span>
                                        <h5>Honours Co-op BMATH</h5>
                                        <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mj_toppadder30 mj_bottompadder30">
                                <div class="mj_divider"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <label>Experience</label>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="mj_detaildiv mj_bottompadder30">
                                    <span>Contrasystems, Azeroth, WOW</span>
                                    <blockquote class="mj_yellowblockquote">
                                        <span><i class="fa fa-calendar"></i> Jul 2012 - Dec 2013</span>
                                        <h5>Chief Software Analyst</h5>
                                        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                    </blockquote>
                                </div>
                                <div class="mj_detaildiv mj_bottompadder30">
                                    <span>World-span, Ottawa, ON</span>
                                    <blockquote class="mj_yellowblockquote">
                                        <span><i class="fa fa-calendar"></i> Jul 2013 - Dec 2014</span>
                                        <h5>Product Assistant</h5>
                                        <p>Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.</p>
                                    </blockquote>
                                </div>
                                <div class="mj_detaildiv mj_bottompadder30">
                                    <span>Amaegg, Seattle, WA</span>
                                    <blockquote class="mj_yellowblockquote">
                                        <span><i class="fa fa-calendar"></i> Jul 2014 - Dec 2015</span>
                                        <h5>Chief Software Software</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_about_section mj_toppadder80 mj_bottompadder80">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
                            <h1>A<span>bout</span> C<span>andidate</span></h1>
                            <p>Envato is a bootstrapped Australian company that operates an ecosystem of sites with a global community. We’re passionate about the web, and about enabling creators to make a living doing what they love. At Envato, we make websites that help people from all over the world change the way they earn and learn online.</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-link"></i> Website</a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a>
                                </li>
                                <li><a href="#"><i class="fa fa-facebook"></i>facebook</a>
                                </li>
                                <li><a href="#"><i class="fa fa-dribbble"></i>dribbble</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mj_resumepreview_footer">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="mj_resume_changeing mj_yellowbg">
                                <a href="#"><i class="fa fa-angle-left"></i>Edit Resume</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="mj_resume_changeing mj_bluebg">
                                <a href="choose_package.html">Choose a Package<i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>