    <div class="mj_lightgraytbg mj_toppadder80 mj_bottompadder80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                    <div class="mj_mainheading mj_toppadder50 mj_bottompadder50">
                        <h1>E<span>dit</span> <span>P</span> r<span>ofile</span></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mj_postdiv mj_shadow_yellow mj_postpage mj_toppadder50 mj_bottompadder50">
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                            <form>
                                <div class="form-group">
                                    <label>Your First Name</label>
                                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="mailname@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label>Your Last Name</label>
                                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="mailname@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label>Your Email </label>
                                    <input type="text" id="first_email" name="first_email"  class="form-control" placeholder="mailname@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label>Your Password</label>
                                    <input type="password" id="password" name="password"  class="form-control" placeholder="mailname@gmail.com">
                                </div>
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" id="company_name" name="company_name" class="form-control" placeholder="Enter the Name of the Company">
                                </div>
                                <div class="form-group">
                                    <label>logo <span>(optionnal)</span>
                                    </label>
                                    <img src="images/envato_logo.png" class="img-responsive" alt="">
                                    <a href="#" class="mj_removefile"><i class="fa fa-times"></i> remove</a>
                                    <a href="#" class="mj_mainbtn mj_btngray" data-text="Choose File"><span>choose file</span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="mj_showmore"><a href="#" class="mj_showmorebtn mj_bigbtn mj_yellowbtn">Preview <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    