<div class="mj_footer mj_toppadder80 mj_bottompadder80">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
          <div class="mj_weight mj_bottompadder20"> <a href="index.html"><img src="public/images/logo.png" class="img-responsive" alt=""> </a>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim ad minim veniam. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
          </div>
          <div class="mj_weight mj_bottompadder20"> <span>Subscribe to our newsletter!</span>
            <form class="form-inline mj_newsletter">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Address">
                <button class="mj_newsletterbtn"><img src="public/images/icon-mail.png" alt=""> </button>
              </div>
            </form>
          </div>
          <div class="mj_weight mj_bottompadder20">
            <div class="mj_sociallink">
              <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
                <li><a href="#"><i class="fa fa-behance"></i></a> </li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a> </li>
              </ul>
            </div>
          </div>
          <div class="mj_copyright">
            <p>&copy; 2015 <a href="#">mesh<span class="mj_yellow_text">jobs</span></a> Inc. <br>
              Designerd by <a href="#">themefire</a> &nbsp; / &nbsp; Only on <a href="#">Envato Market</a> </p>
            <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span> </div>
        </div>
        <div class="totop">
          <div class="gototop"> <a href="#"> <i class="fa fa-angle-up"></i> </a> </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Script Start --> 
  <script src="public/js/jquery-1.11.3.min.js" type="text/javascript"></script> 
  <script src="public/js/bootstrap.js" type="text/javascript"></script> 
  <script src="public/js/modernizr.custom.js" type="text/javascript"></script> 
  <script type="text/javascript" src="public/js/plugins/rsslider/jquery.themepunch.tools.min.js"></script> 
  <script type="text/javascript" src="public/js/plugins/rsslider/jquery.themepunch.revolution.min.js"></script> 
  <script type="text/javascript" src="public/js/plugins/rsslider/revolution.extension.layeranimation.min.js"></script> 
  <script type="text/javascript" src="public/js/plugins/rsslider/revolution.extension.navigation.min.js"></script> 
  <script type="text/javascript" src="public/js/plugins/rsslider/revolution.extension.parallax.min.js"></script> 
  <script type="text/javascript" src="public/js/plugins/rsslider/revolution.extension.slideanims.min.js"></script> 
  <script src="public/js/plugins/countto/jquery.countTo.js" type="text/javascript"></script> 
  <script src="public/js/plugins/owl/owl.carousel.js" type="text/javascript"></script> 
  <script src="public/js/plugins/bootstrap-slider/bootstrap-slider.js" type="text/javascript"></script> 
  <script src="public/js/plugins/fancybox/jquery.fancybox.js" type="text/javascript"></script> 
  <script src="public/js/plugins/fancybox/jquery.fancybox.pack.js" type="text/javascript"></script> 
  <script src="public/js/jquery.mixitup.js" type="text/javascript"></script> 
  <script src="public/js/plugins/jquery-ui/jquery-ui.js"></script> 
  <script src="public/js/plugins/isotop/isotope.pkgd.js"></script> 
  <script src="public/js/plugins/ckeditor/ckeditor.js"></script> 
  <script src="public/js/plugins/ckeditor/adapters/jquery.js"></script> 
  <script src="public/js/custom.js" type="text/javascript"></script> 
  <!-- Script End -->
  </body>
  
  <!-- Mirrored from html.cmdemolabs.com/meshjobs/mesh/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Jan 2017 07:57:00 GMT -->
  </html>