<!DOCTYPE html>
<!-- 
Template Name: MeshJobs Multipurpose Responsive HTML Template
Version: 1.1
Author: DigiSamaritan
Website: digisamaritan.com
Purchase: http://themeforest.net/user/DigiSamaritan
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<!-- Mirrored from html.cmdemolabs.com/meshjobs/mesh/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Jan 2017 07:55:36 GMT -->

<head>
<meta charset="utf-8" />
<title>MeshJobs Multipurpose Responsive HTML Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="" />
<meta name="keywords" content="">
<meta name="author" content="" />
<meta name="MobileOptimized" content="320">
<!--srart theme style -->
<link href="public/css/main.css" rel="stylesheet" type="text/css" />
<!-- end theme style -->
<!-- favicon links -->
<link rel="shortcut icon" type="image/png" href="public/images/favicon.png" />

</head>

<body>
<!--Loader Start -->
<div class="mj_preloaded">
  <div class="mj_preloader">
    <div class="lines">
      <div class="line line-1"></div>
      <div class="line line-2"></div>
      <div class="line line-3"></div>
    </div>
    <div class="loading-text">LOADING</div>
  </div>
</div>
<!--Loader End -->
<div class="mj_header">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="mj_logo"> <a href="/"><img src="public/images/logo.png" class="img-responsive" alt="logo"> </a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mj_menu" aria-expanded="false"> <span class="sr-only">MENU</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="collapse navbar-collapse mj_navmenu" id="mj_menu">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">home</a> </li>
            <li><a href="#">Jobs</a>
              <ul class="sub_menu">
                <li><a href="jobs.html">Jobs</a> </li>
                <li><a href="jobs_location.html">location</a> </li>
                <li><a href="job_detail.html">Job Detail</a> </li>
              </ul>
            </li>
            <li><a href="post_job.html">Post a Job</a> </li>
            <li><a href="#">Post a Resume</a>
              <ul class="sub_menu">
                <li><a href="post_resume.html">Post a Resume</a> </li>
                <li><a href="resume_preview.html">Resume Preview</a> </li>
                <li><a href="choose_package.html">choose package</a> </li>
                <li><a href="cart.html">Cart Page</a> </li>
              </ul>
            </li>
            <li><a href="#">Candidates</a>
              <ul class="sub_menu">
                <li><a href="candidates.html">Candidates</a> </li>
                <li><a href="candidates_detail.html">Candidate detail</a> </li>
              </ul>
            </li>
            <li><a href="#">Pages</a>
              <ul class="sub_menu">
                <li><a href="blog_fullwidth.html">blog fullwidth</a> </li>
                <li><a href="blog_sidebar.html">blog sidebar</a> </li>
                <li><a href="blog_single.html">blog single</a> </li>
                <li><a href="gallery.html">gallery</a> </li>
                <li><a href="team.html">team</a> </li>
                <li><a href="work.html">work</a> </li>
                <li><a href="companies.html">companies</a> </li>
                <li><a href="contact.html">contact</a> </li>
                <li><a href="shop_index.html">Shop home</a> </li>
                <li><a href="product.html">product</a> </li>
                <li><a href="product_single.html">product single</a> </li>
                <li><a href="create_account.html">create account</a> </li>
                <li><a href="freelancer_account.html">freelancer account</a> </li>
                <li><a href="signup.html">sign up</a> </li>
                <li><a href="login.html">login</a> </li>
                <li><a href="error.html">error</a> </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right mj_right_menu mj_withoutlogin_menu">
            <li class="mj_searchbtn"><a href="#"><i class="fa fa-search"></i></a>
              <div class="mj_search_option">
                <form>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-search"></i> </div>
                      <input type="text" class="form-control" placeholder="Type and Hit Enter">
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li><a href="signup"><i class="fa fa-lock"></i> Sign Up</a> </li>
            <li><a class="mj_logintoggle" href="/login"><i class="fa fa-user"></i> Login</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
