<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_mainheading mj_toppadder80 mj_bottompadder50">
                    <h1>l<span>ogin</span> <span>to my</span> A<span>ccount</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
                <div class="mj_pricingtable mj_greentable mj_login_form_wrapper">
                    <form method="post">
                        <div class="mj_login_form">
                            <div class="form-group">
                                <input type="text" placeholder="Email" id="login_user" name="login_user" class="form-control">
                                <div id="err_login_user" class="cls_error"></div>
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Your Password" id="login_password" name="login_password" class="form-control">
                                <div id="err_login_password" class="cls_error"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mj_toppadder20">
                                    <div class="form-group  pull-left">
                                        <div class="mj_checkbox">
                                            <input type="checkbox" value="1" id="check2" name="checkbox">
                                            <label for="check2"></label>
                                        </div>
                                        <span> remember me</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mj_toppadder20">
                                    <div class="form-group pull-right">
                                        <span><a href="#">forget password ?</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mj_pricing_footer">
                            <a href="javascript:void(0);" onClick="login();">login Now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>