<div class="mj_lightgraytbg mj_bottompadder80">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0">
                <div class="mj_mainheading mj_toppadder80 mj_bottompadder50">
                    <h3>Thank You For Your Registration, Admin Will Contact With You Soon.</h3>
                    
                </div>
            </div>
        </div>
    </div>
</div>